@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "poppins";
  --bg-color: #000;
  --font-color: #faf9f6;
  --primary-color: #ff9800;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--font-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  z-index: 1;
}

.mainHead {
  font-size: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 4rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem; /* Space below header */
}

.header h1 {
  font-size: 3rem;
  color: var(--font-color);
}

.header p {
  font-size: 1.5rem;
  color: var(--font-color);
  margin-bottom: 2rem;
}
.input-container {
  display: contents;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
}
.input-field {
  display: block;
  padding-left: 10px; /* Existing padding for space inside the input */
  text-indent: 25px; /* Negative indent to move placeholder and cursor to the left */
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}
#location {
  background: url("/static/img/icons8-location-48.png") no-repeat 10px #fff; /* Placeholder image URL */
  background-size: 24px 24px; /* Adjust the size of the image */
  transition: border-color 0.2s ease;
}
#destination {
  background: url("/static/img/icons8-destination-48.png") no-repeat 10px #fff; /* Placeholder image URL */
  background-size: 24px 24px; /* Adjust the size of the image */
  transition: border-color 0.2s ease;
}

.content-section {
  background-color: #111;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(251, 248, 248, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.content-section h1,
.content-section h2 {
  color: #fff;
}

.content-section p {
  color: #fff;
  align-items: center;
  justify-content: center;
}

.content-section ul {
  list-style-type: none;
  padding: 0;
}

.content-section li {
  margin-bottom: 5px;
}

.content-section .tech-stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.input-wrapper {
  position: relative;
  max-width: 400px;
  margin: 20px auto;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease;
}

.input-field:focus {
  border-color: #000;
  outline: none;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8px);
  color: #faf9f6;
  border: 1px solid #ff9800;
  border-bottom: none;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ff9800;
  transition: background-color 0.2s ease;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #ff9800;
  color: #000;
}

.no-suggestions {
  color: #999;
  text-align: center;
  padding: 10px;
}
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  min-width: 44px;
  min-height: 44px;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
  transition: background-color 0.3s ease-in-out;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.text {
  max-width: 800px;
  margin-bottom: 2rem;
}

.text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text p {
  line-height: 1.6;
  font-size: 1rem;
}

.image {
  max-width: 800px;
}

.image img {
  width: 100%;
  border-radius: 1rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-size: 0.875rem;
}

.three,
.four {
  display: flex;
}
.rad1,
.rad2 {
  position: relative;
  left: 10px;
}

.con-pass {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.passchange {
  align-items: center;
  justify-content: space-around;
}
.box1 {
  position: relative;
  align-items: center;
  top: 100px;
}
.pass-btn1 {
  display: flex;
  padding: 10px 30px 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  font-size: 16px;
}
.box2 {
  position: relative;
  align-items: center;
  top: 100px;
  margin-top: 20px;
}
.pass-btn2 {
  display: flex;
  padding: 10px 30px 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  font-size: 16px;
}
.box3 {
  position: relative;
  top: 100px;
  margin-top: 20px;
}
.pass-btn3 {
  display: flex;
  padding: 10px 30px 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  font-size: 16px;
}
.pass-sub {
  position: relative;
  align-items: center;
  top: 150px;
  left: 80px;
}
.pass-btn {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15%;
  border: 2px solid var(--bg-color);
  padding-right: 10px;
}

.vehicle-reg {
  position: relative;
  z-index: 1;
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(4px);
  top: -850px;
  left: 300px;
}
.regBack {
  display: flex;
  margin-left: 300px;
  border-radius: 50px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.vehicle-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
input {
  display: flex;
  width: auto;
}
.vehicleNumber,
.ManufacturedCompany,
.vehicleCc {
  text-transform: uppercase;
  display: flex;
  padding: 10px 20px 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  font-size: 16px;
}
.tukReg-btn {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 16px 20px;
  font-size: 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 15px;
  border: 2px solid var(--font-color);
}
.tukReg-btn:hover {
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: 0.2s ease-in;
}
@media screen and (max-width: 1024px) {
  .vehicle-reg {
    position: relative;
    left: 335px;
    top: -715px;
    border-radius: 25px;
  }
  .regBack {
    position: relative;
    width: 600px;
    height: 600px;
    right: 900px;
    top: 10px;
    right: 250px;
  }
}
@media screen and (max-width: 672px) {
  .vehicle-reg {
    position: relative;
    left: -24px;
    top: -150px;
    border-radius: 25px;
  }
  .regBack {
    position: relative;
    width: 300px;
    height: 300px;
    right: 900px;
    top: 10px;
    right: 224px;
  }
  .content-section {
    margin: 20px 0;
  }
}

@media screen and (max-width: 400px) {
  .vehicle-reg {
    position: relative;
    left: 1px;
    top: -150px;
    border-radius: 25px;
  }
  .regBack {
    position: relative;
    width: 300px;
    height: 300px;
    right: 900px;
    top: 10px;
    right: 250px;
  }
}
