{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a TUkTUk</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookingPage.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
</head>
    <!-- Map container -->
    <div class="container">
        <div id="map" class="mapcon"></div>
        
        <div class="form-group mt-4">
            <label for="destName" class="destini">Enter Destination</label>
            <input type="text" class="form-control destination" id="destName" placeholder="Enter destination name">
        </div>
        
        <button class="btn btn-primary mt-3 button" onclick="calculateDistance()">Ride Details</button>
        
        <div class="mt-3" id="currentLocation"></div>
        <div class="mt-3" id="distance"></div>
        <div class="mt-3" id="totalFare"></div>
        <div class="mt-3" id="destinationCoordinates"></div>
        <div class="mt-3" id="nearestAutoDetails"></div>
    
        <form action="/requetTuktukAndTuktukDriver/" method="post">
            {% csrf_token %}
            <input type="hidden" id="userLat" name="userLat">
            <input type="hidden" id="userLon" name="userLon">
            <input type="hidden" id="destCoordinates" name="destCoordinates">
            <input type="hidden" id="nearestAutoId" name="nearestAutoID">
            <input type="hidden" id="distanceToDestination" name="distance">
            <input class="btn btn-success btn-block ok mt-3" type="submit" name="submit" value="Find TukTuk"  id="findTukTukButton">
        </form> 
    </div>
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        
        var map = L.map('map').setView([0, 0], 13);
        var polyline, userMarker, destMarker, autoMarker;
        var userLat, userLon;
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        function setUserLocation(position) {
            userLat = position.coords.latitude;
            userLon = position.coords.longitude;
            document.getElementById('userLat').value = userLat;
            document.getElementById('userLon').value = userLon;
        
            var latlng = [userLat, userLon];
            if (userMarker) {
                userMarker.setLatLng(latlng);
            } else {
                var pickupIcon = L.icon({
                    iconUrl: '/static/img/icons8-location-marker-24.png',
                    iconSize: [30, 30],
                    iconAnchor: [15, 30],
                    popupAnchor: [0, -30],
                    shadowSize: [40, 40],
                    shadowAnchor: [13, 40]
                });
        
                userMarker = L.marker(latlng, {icon: pickupIcon}).addTo(map).bindPopup("Your Current Location").openPopup();
            }
            map.setView(latlng, 13);
        
            var reverseGeocodeUrl = 'https://nominatim.openstreetmap.org/reverse?lat=' + latlng[0] + '&lon=' + latlng[1] + '&format=json&zoom=18&addressdetails=1';
        
            fetch(reverseGeocodeUrl)
                .then(response => response.json())
                .then(data => {
                    var locationName = data.display_name;
                    document.getElementById('currentLocation').value = locationName;
                })
                .catch(error => console.error('Error:', error));
        }
        
        navigator.geolocation.getCurrentPosition(setUserLocation);
        
        function calculateDistance() {
            var destName = document.getElementById('destName').value;
            var distanceDisplay = document.getElementById('distance');
            var fareDisplay = document.getElementById('totalFare');
        
            var geocodeUrl = 'https://nominatim.openstreetmap.org/search?q=' + encodeURIComponent(destName) + '&format=json&limit=1';
        
            fetch(geocodeUrl)
                .then(response => response.json())
                .then(data => {
                    if (!data.length) {
                        console.error('No geocoding results found for destination');
                        return;
                    }
        
                    var destLat = parseFloat(data[0].lat);
                    var destLon = parseFloat(data[0].lon);
                    document.getElementById('destCoordinates').value = destLat + ',' + destLon;
        
                    var destination = [destLat, destLon];
        
                    if (destMarker) {
                        destMarker.setLatLng(destination);
                    } else {
                        var destinationIcon = L.icon({
                            iconUrl: '/static/img/icons8-destination-48.png',
                            iconSize: [30, 30],
                            iconAnchor: [15, 30],
                            popupAnchor: [0, -30],
                            shadowSize: [40, 40],
                            shadowAnchor: [13, 40]
                        });
        
                        destMarker = L.marker(destination, {icon: destinationIcon}).addTo(map).bindPopup("Destination");
                    }
        
                    var routeUrl = 'https://api.openrouteservice.org/v2/directions/driving-car?api_key=5b3ce3597851110001cf6248d0882d4d8035451eb97f11ef667f07b1&start=' + userLon + ',' + userLat + '&end=' + destLon + ',' + destLat;
        
                    fetch(routeUrl)
                        .then(response => response.json())
                        .then(data => {
                            var distance = data.features[0].properties.segments[0].distance;
                            var distanceInKm = (distance / 1000).toFixed(2);
                            distanceDisplay.textContent = "Distance to destination: " + distanceInKm + " km";
                            document.getElementById('distanceToDestination').value = distanceInKm;
        
                            if (polyline) {
                                map.removeLayer(polyline);
                            }
        
                            var routeCoordinates = data.features[0].geometry.coordinates;
                            var polylinePoints = routeCoordinates.map(coord => [coord[1], coord[0]]);
                            polyline = L.polyline(polylinePoints, {color: 'black'}).addTo(map);
        
                            var bounds = polyline.getBounds();
                            map.fitBounds(bounds);
        
                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/calculate_distance_and_allot_auto/", true);
                            xhr.setRequestHeader("Content-Type", "application/json");
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            xhr.onreadystatechange = function() {
                                if (xhr.readyState == 4 && xhr.status == 200) {
                                    var jsonResponse = JSON.parse(xhr.responseText);
                                    if (!jsonResponse.error) {
                                        var autoLat = jsonResponse.nearest_auto.lat;
                                        var autoLon = jsonResponse.nearest_auto.lon;
                                        var autoLocation = jsonResponse.nearest_auto.location;
        
                                        document.getElementById('nearestAutoId').value = jsonResponse.nearest_auto.id;
        
                                        var autoIcon = L.icon({
                                            iconUrl: '/static/img/icons8-auto-ricksaw-64.png',
                                            iconSize: [30, 30],
                                            iconAnchor: [15, 30],
                                            popupAnchor: [0, -30],
                                            shadowSize: [40, 40],
                                            shadowAnchor: [13, 40]
                                        });

                                        if (autoMarker) {
                                            autoMarker.setLatLng([autoLat, autoLon]);
                                        } else {
                                            autoMarker = L.marker([autoLat, autoLon], {icon: autoIcon}).addTo(map).bindPopup("Nearest Auto").openPopup();
                                        }
        
                                        document.getElementById('nearestAutoDetails').innerHTML =
                                            "<p>Nearest Auto ID: " + jsonResponse.nearest_auto.id +
                                            "</p><p>Distance: " + jsonResponse.distance.toFixed(2) + " km" +
                                            "</p><p>Location: " + autoLocation + "</p>";
        
                                        fareDisplay.textContent = "Estimated Fare: ₹" + jsonResponse.fare_estimation.toFixed(2);
                                    } else {
                                        alert(jsonResponse.error);
                                    }
                                }
                            };
                            xhr.send(JSON.stringify({
                                user_lat: userLat,
                                user_lon: userLon,
                                dest_name: destName,
                                distance_to_destination: distanceInKm
                            }));
                        })
                        .catch(error => console.error('Error fetching route:', error));
                })
                .catch(error => console.error('Error:', error));
            document.getElementById('findTukTukButton').style.display = 'block';
        }
    </script>
    
    <script src="{% static 'js/app.js' %}"> </script>
    
</body>
</html>
