
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Feedback Details</title>
    <link href="{% static 'css/feedbackViewRequests.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="feedback-table-container">
      <h1 class="feedback-heading">Feedback Views</h1>
      <table class="feedback-details">
        <caption>Feedback Details</caption>
        <thead>
          <tr>
            <th>Feedback ID</th>
            <th>Feedback</th>
            <th>Date</th>
            <th>Replied To</th>
            <th>User Name</th>
            <th>User E-Mail</th>
            <th>Reply</th>
            <th>Reply Date</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr>
            <td>{{ record.feedbackID }}</td>
            <td><textarea readonly>{{ record.feedback }}</textarea></td>
            <td>{{ record.feedbackDate }}</td>
            <td>{{ record.userID }}</td>
            <td>{{ record.name }}</td>
            <td>{{ record.EMail }}</td>
            <td><textarea readonly>{{ record.reply }}</textarea></td>
            <td>{{ record.replyDate }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
