{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Feedback Reply</title>
    <link href="{% static 'css/feedbackView.css' %}" rel="stylesheet" />
  </head>
  <body>

        <div class="container">
            <h1 class="head">FeedBack Reply</h1>
            <div class="vertical-card-list">
                {% if recent_feedback_list %}
                <form action="{% url 'feedback_view_requests' %}" method="post">
                    {% csrf_token %}
                    <label for="VehicleNumber">
                        <h3 class="h3">Select FeedBack Number:</h3>
                    </label>
                    <select id="feedbackID" name="feedbackID">
                        {% for feedbackID in recent_feedback_list %}
                        <option value="{{ feedbackID }}">{{ feedbackID }}</option>
                        {% endfor %}
                    </select>
                    <input class="allot-btn" type="submit" value="view">
                </form>
                {% else %}
                <p class="no-vehicles">No Recent Feedbacks..</p>
                {% endif %}
            </div>
        </div>
  </body>
</html>
