
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/responseForTuktuk.css' %}">
</head>
<body>
    <div class="driverResponse">
        <form class="responseForm" method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            <h1 class="response-head">TukTuk Receipt</h1>
            <table class="responseTable" border="2px">
                <tr> 
                    <th>Request ID</th>
                    <td>{{ requestID }}</td>
                </tr>
                <tr>
                    <th>Total Distance</th>
                    <td>{{ totalDistance }} KM</td>
                </tr>
                <tr>
                    <th>Total Ride Fare</th>
                    <td>₹{{ totalRideRate }}</td>
                </tr>
                <tr> 
                    <th>Waiting time</th>
                    <td>{{ waitingCharge }} min.</td>
                </tr>
                <tr>
                    <th>Feedback</th>
                    <td>{{ emotionFeedback}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ endOfRideDate }}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{ endOfRideTime }}</td>
                </tr>
            </table>
            <input type="hidden" name="requestID" value="{{ requestID }}">
            <div class="message">{{ message }}</div>
        </div>
        </form>
</body>

</html>
