{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback Details</title>
    <link rel="stylesheet" href="{% static 'css/userFeedbackDetails.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="feedback-table-container">
      <h1 class="feedback-heading">Feedback Details</h1>
      <table class="feedback-details">
        <caption>Feedback Details</caption>
        <thead>
          <tr>
            <th>Feedback ID</th>
            <td> {{ feedbackID }}</td>
        </tr>
        <tr>
            <th>Feedback</th>
            <td> {{ feedback }} </td>
        </tr>
        <tr>
            <th>Date</th>
            <td> {{ feedbackDate }} </td>
        </tr>
        <tr>
            <th>User ID</th>
            <td> {{ userID }} </td>
        </tr>
        <tr>
            <th>User Name</th>
            <td> {{ userName }} </td>
        </tr>
        <tr>
            <th>Reply</th>
            <td>
              <form action="{% url 'user_feedback_details_post' %}" method="post">
                {% csrf_token %}
                <textarea name="textarea" id="feedback-textarea" placeholder="Type your reply here"></textarea>
                <input type="hidden" name="feedbackID" value="{{ feedbackID }}" />
                <input type="hidden" name="userID" value="{{ userID }}" />
                <button type="submit" class="btn-reply">Reply</button>
              </form>
            </td>
          </tr>
      </table>
      <p class="message">{{ message }}</p>
    </div>
  </body>
</html>
